aiohttp
creds==1.0.15
flake8==4.0.1
mystbin.py==2.2.0
typing-extensions==4.0.0
humanize==3.13.1
asyncpg==0.25.0
discord-py-slash-command==3.0.3
git+https://github.com/Rapptz/discord.py.git@master
git+https://github.com/Gorialis/jishaku.git@master
